body div {
    color:#0094ff;
    font-family:Consolas;
}
div div:first-letter
{ 
font-size:200%;
}
@font-face {
	font-family: Edwardian Script ITC;
	src:url('itcedscr.ttf');
}

div div{
     font-family:Edwardian Script ITC;
     font-size:40px;
     font-weight:bold;
}
