body{
    background:#808080;
}

#title {
    font-family:Arial Narrow;
    color:rgba(255, 255, 255,0.3);
}

#label {
    width:199px;
    color:rgb(243, 231, 231);
    font-style:italic;
    font-family:Arial;
}
#content{
    font-style:initial;
    font-family:Arial;
}
#warning{
    color:red;
    font-size:large;
}
#greenDot{
    width:2px;
    background-color: rgb(107, 209, 67);
    height:2px;
    border-radius:50%;
}
#content.name #owner{
    color:white;
}
#content.email{
    color:white;
}
#content.freeze {
    color:rgba(255, 255, 255,0.3);
}
 #content a{
     color:white;
     text-decoration:none;
 }
 #content.status{
     color:orange;
     font:700;
 }
 tr{
     height:55px;
 }